extends layout

block content
  h1 Image Search Abstraction Layer
  h2 User stories:
  ul
    li I  can get the image URLs, alt text and page urls for a set of images relating to a given search string.
    li I can paginate through the responses by adding a ?offset=2 parameter to the URL.
    li I can get a list of the most recently submitted search strings.
  ul
  h2 Expected output:
  code {url: "https://www.bing.com/cr?IG=42CBCF4B...", snippet: "freeCodeCamp – Medium", thumbnail: "https://tse3.mm.bing.net/th?id=OIP.Pqn9...", context: "https://www.bing.com/cr?IG=42CBCF4B..."}
  h2 Search:
  section(ng-controller='imageCtrl')
    input(placeholder='What are you looking for?' ng-model='imageToSearch' onkeypress="if (event.which==13) document.querySelector('a').click()") 
    button
      a(href='api/imagesearch/{{imageToSearch}}')="Search"    
      button
        a(href='api/recentsearch')="Check for recent search"    
