body {
  background-color: #FFAB91;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

input{
  padding: 8px 16px;  
  outline: none;
  border: none;
  border-radius: 2px;
}

button {
  margin-left: 10px;
  background-color: #008CBA; /* Green */
  border: none;
  border-radius: 5px;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}